.posts {
    width: 70vw;
}

.logo img {
    height: 3.5rem;
}

.legal {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    padding-bottom: 5vh;
    color: var(--color-secondary);
}

.post-content img {
    display: block;
    max-width: 60%;
    padding: 17px;
    margin: auto;
}

.emoji {
	font-family: Apple Color Emoji, Segoe UI Emoji, NotoColorEmoji, Segoe UI Symbol, Android Emoji, EmojiSymbols;
}

@media  (max-width:683px) {

    .post-content img {
        display: block;
        padding: 0;
        margin: auto;
        max-width: 100%;
        padding-top: 17px;
        padding-bottom: 17px;
    }
}