.posts {
    width: 70vw;
}

.logo img {
    height: 3.5rem;
}

.legal {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    padding-bottom: 5vh;
    color: var(--color-secondary);
}